@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
}

/*

GENERICS

*/

h4 {
  color: black;
}

#background {
  width: 100%;
  min-height: 100vh;
  background-size: 2000px;
  background-image: url(../assets/maybe_background.png);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
}

body {
  max-width: 100vw;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.home__header {
  color: white;
  font-size: 24px;
}

.transition {
  transition: all 250ms ease-in-out;
}


/* 

Navigationalitisizeracecars

*/

#nav__bar {
  display: flex;
  width: 100%;
}

.home__nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px;
  border-bottom: 4px solid rgb(99, 150, 218);
  border-radius: 30%;
}

#nav__logo {
  max-width: 140px;
  transform: scale(0.8);
  transform: translateX(-10%);
  border-radius: 50%;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}


input,
.search__btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

.search-bar--input {
  width: 100%;
  margin-right: 200px;
  position: relative;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  border-radius: 9999px;
  border: 2px solid black;
  padding: 20px 40px 20px 20px;
}

.search__btn {
  width: 50px;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

::placeholder {
  color: white;
}

/*

Nav E ffects

*/

input:hover {
  border-color: white;
}

input:focus {
  border: 2px solid white;
  outline: none;
  background-color: rgb(99, 150, 218);
}


/*

RESPONSIVILINESS

*/

@media (max-width: 1200px) {
  #nav__bar {
    padding: 0 32px;
  }
  
  .header__row {
    padding-right: 0;
  }
}

@media (max-width: 930px) {
  input {
    max-width: 360px;
  }

  .search-bar--input {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 730px) {
  input {
    max-width: 300px;
  }
}

@media (max-width: 640px) {
  .header__search-bar--wrapper {
    display: none;
  }

  .list__nav {
    justify-content: center;
  }

  .home__nav {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 480px) { 
  .header__link--anchor {
    font-size: 20px;
  }
}