@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

/*

GENERICS LIST

*/

.gray__landing-page {
 min-height: 100vh;
}


.nav__title {
  color: rgb(99, 150, 218);
}

select {
  cursor: pointer;
}

select:hover {
  transform: scale(1.05);
}

h1 {
  font-family: "Special Elite", cursive;
}

/* 

Navigationalitisizeracecars

*/

#nav__bar {
  display: flex;
  width: 100%;
}

.nav__logo--anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
.search__btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

input {
  width: 100%;
  border-radius: 9999px;
  border: 2px solid black;
  padding: 20px 40px 20px 20px;
}

.search__btn {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

::placeholder {
  color: white;
  font-weight: 300;
}

/*

Nav E ffects

*/

input:hover {
  border-color: rgb(99, 150, 218);
}

input:focus {
  border: 2px solid rgb(99, 150, 218);
  outline: none;
}

/*

Animes, the main attraction, this it

*/

.sort__result--content {
  position: relative;
}

.sort__result--banner {
  width: 100%;
  padding: 72px 0;
}

.container {
  margin: 0 40px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search__result--content {
  display: flex;
  align-items: center;
  text-align: center;
}

.search__result--wrapper {
  display: flex;
}

.another-wrapper {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}

.result__title--wrapper {
  padding: 0 200px;
  display: flex;
  justify-content: space-around;
}

.sort__filter--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort__result--title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 12px;
}

.search__result--title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 12px;
}

#sort {
  font-size: 18px;
  background-color: black;
  color: rgb(99, 150, 218);
  box-shadow: 0 2px 16px white;
  border-radius: 20px;
  padding: 8px;
}

#sort:focus {
  box-shadow: 0 4px 32px rgb(99, 150, 218);
  transform: scale(1.05);
}

.content__img,
.content__img--skeleton {
  max-width: 340px;
  max-height: 480px;
  min-height: 480px;
}


.content__title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 4px;
}

.content__img--wrapper {
  position: relative;
  width: 100%;
  max-width: 340px;
  max-height: 524px;
  margin-bottom: 64px;
  cursor: pointer;
}

.content__img--wrapper:hover {
  transform: scale(0.95);
  box-shadow: 0 2px 40px rgb(140, 188, 252);
}

.content__img--wrapper:hover .content__title {
  color: rgb(140, 188, 252);
  background-color: rgba(0, 0, 0, 0.759);
}

.content__ranking {
  position: absolute;
  padding: 4px;  
  left: 0;
  top: 0;
  background-color: #242424;
  font-size: 32px;
  font-weight: 600;
  color: rgb(140, 188, 252);
}



/*

Skeleton Loadings 

*/

.content__img--skeleton {
  background-color: rgb(0, 0, 0);
}

.content__title--skeleton,
.content__ranking--skeleton {
  background-color: rgba(140, 189, 252, 0.326);
}

.content__title--skeleton {
  padding: 20px;
  width: 200px;
  margin: 0 auto;
}

.content__ranking--skeleton {
  position: absolute;
  padding: 32px 60px;  
  left: 0;
  top: 0;
}

/*

RESPONSIVILINESS

*/

@media (max-width: 1200px) {
  .another-wrapper {
    width: calc(100% / 2);
  }

  .result__title--wrapper {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .result__title--wrapper {
    padding: 0;
  }
  
  .search__result--title,
  .sort__result--title {
    font-size: 36px;
  }
   .wrapper {
    margin: 0 32px;
  }

  .another-wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 640px) {
  .another-wrapper {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .search__result--title {
    display: none;
  }
}